@import "../../scss/variable";

.order-page {

    margin-top: 52px;

    &__section {
        background-image: url("../../assets/images/order-bg.jpg");
        background-position: -113px center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 655px;
        display: flex;
        align-items: end;
        justify-content: start;
        padding-bottom: 223px;
        margin-bottom: 98px;

        .container {
            flex-basis: 100%
        }
    }

    &__title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 10px;
        max-width: 690px;
    }

    &__sub-title {
        @extend %osr;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 40px;
        max-width: 607px;
    }

    &__btn {
        color: var(--color-white);
        background-color: var(--color-accent);
        text-transform: uppercase;
        @extend %ossb;
        padding-block: 19px;
        width: 410px;
        transition: background-color 300ms ease-in;

        &:hover {
            background-color: var(--color-hover-accent);
        }
    }

    &__example {
        margin-bottom: 100px;
    }

    &__example-list {}

    &__example-item {
        text-align: center;
        position: relative;

      &::after {
        content: "";
        padding-bottom: 100%;
        display: block;
      }

      img { 
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }

    &__example-title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 50px;
        text-align: center;
    }

    .swiper-scrollbar {
        position: static;
        margin-top: 50px;
    }

    .swiper-scrollbar-drag {
        max-width: 443px;
        height: 3px;
        background-color: var(--color-accent);
        cursor: grab;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 198px;

        &::after {
            content: "";
            background-image: url("../../assets/images/slider-prev.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 13px;
            height: 25px;
        }
    }

    .swiper-button-prev {
        rotate: -180deg;
    }

    &__todo {
        background-color: var(--color-accent);
        padding: 100px 0 145px;
        margin-bottom: 100px;
    }

    &__todo-title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 50px;
        color: var(--color-white);
        text-align: center;
    }

    &__todo-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 45px;
    }

    &__todo-item {
        width: 639px;
        height: 385px;
        background-color: var(--color-white);
        padding: 44px 0 44px 60px;
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__todo-item:nth-child(1) {
        background-image: url(../../assets/images/order-todo-1.png);
    }

    &__todo-item:nth-child(2) {
        background-image: url(../../assets/images/order-todo-2.png);
    }

    &__todo-item:nth-child(3) {
        background-image: url(../../assets/images/order-todo-3.png);
    }

    &__todo-item:nth-child(4) {
        background-image: url(../../assets/images/order-todo-4.png);
    }

    &__item-stage {
        @extend %rr;
        font-size: 26px;
        letter-spacing: 2.25px;
        color: var(--color-gray);
        margin-bottom: 18px;
    }

    &__item-title {
        @extend %ossb;
        margin-bottom: 12px;
        font-size: 26px;
        color: var(--color-accent);
        text-transform: uppercase;
    }

    &__item-text,
    &__item-time {
        @extend %osr;
        font-size: 16px;
        line-height: 22px;
    }

    &__item-text {
        max-width: 473px;
        height: 175px;
    }

    &__item-time {
        color: var(--color-gray);
        margin-top: 15px;
    }

    &__form-section {
        margin-bottom: 200px;
    }

    &__form-wrapper {
        display: flex;
        gap: 0 168px;
    }

    &__form {
        max-width: 870px;
    }

    &__form-title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 160px;
        margin-bottom: 20px;
    }

    &__label {
        width: 459px;
    }

    &__span {
        @extend %osr;
        font-size: 12px;
        color: var(--color-blue);
        display: block;
        margin-bottom: 6px;
    }

    &__span--error {
        color: var(--color-error-red);
    }

    &__input {
        padding-left: 10px;
        width: 100%;
        height: 60px;
        border: 1px solid var(--color-blue);

        &::placeholder {
            font-size: 0;
        }
    }

    &__header-file {
        background-color: var(--color-blue);
        height: 60px;
        width: 251px;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 20px;
        margin-bottom: 20px;
    }

    &__block>&__label:nth-child(2) {
        flex-basis: 391px;
    }

    &__textarea {
        width: 870px;
        height: 200px;
        display: block;
        margin-bottom: 20px;
        resize: none;
        padding-left: 10px;
        padding-top: 10px;

        &::placeholder {
            font-size: 0;
        }
    }

    &__submit {
        color: var(--color-white);
        background-color: var(--color-accent);
        padding-block: 19px;
        width: 100%;
        border: none;
        cursor: pointer;
        transition: 300ms ease-in background-color;

        &:hover {
            background-color: var(--color-hover-accent);
        }

        &:disabled {
            background-color: var(--color-gray);
        }
    }

    &__sale {
        flex-basis: 1 0 294px;
        height: 595px;
    }
}

@media (max-width:1400px) {
    /*   .order-page__sale {
        display: none;
    } */

    .order-page__form-wrapper {
        flex-direction: column;
        gap: 50px 0;
    }

    .order-page__sale {
        width: auto;
        height: auto;
        object-fit: contain;
        order: -1;
    }


}


@media (max-width:1250px) {
    .order-page__section {
        background-position: center center;
    }

    .order-page__example-img {
        width: 335px;
        height: 335px;
    }
}

@media (max-width:1020px) {

    .order-page__example-img {
        width: 335px;
        height: 335px;
    }

    .order-page__form {
        position: relative;
        order: 1;
    }

    .order-page__block {
        flex-direction: column;
        gap: 20px 0;
        align-items: start;
    }

    .order-page__label {
        width: 100%;
    }

    .order-page__block>.order-page__label:nth-child(2) {
        flex-basis: initial;
    }

    .order-page__textarea {
        width: 100%;
    }

    .order-page__submit {
        width: 80%;
    }

    .order-page__form-header .cart-page__input-file {
        bottom: 0;
    }

}


@media (max-width:700px) {

    .order-page__form-section {
        margin-bottom: 100px;
    }

    .order-page {
        margin-top: 30px;
    }

    .order-page__todo {
        margin-bottom: 20px;
    }

    .order-page__section {
        background-position: right center;
        height: 303px;
        padding-bottom: 37px;
        margin-bottom: 70px;
    }

    .order-page__title {
        font-size: 20px;
        letter-spacing: 1px;
        max-width: 221px;
        margin-bottom: 9px;
    }

    .order-page__sub-title {
        font-size: 12px;
        color: var(--color-black);
        max-width: 221px;
        opacity: 0.5;
        margin-bottom: 30px;
    }

    .order-page__btn {
        width: 335px;
        height: 60px;
    }

    .order-page__todo-title {
        margin-bottom: 50px;
        font-size: 30px;
    }

    .order-page__item-stage {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .order-page__todo-item {
        padding: 30px;
        height: initial;
    }

    .order-page__item-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .order-page__item-text {
        font-size: 14px;
        max-width: 400px;
    }

    .order-page__item-time {
        margin-top: 21px;
        font-size: 12px;
    }

    .order-page__form-title {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .order-page__span {
        display: none;
    }

    .order-page__input {
        padding-left: 20px;
    }

    .order-page__input::placeholder {
        font-size: 14px;
    }

    .order-page__textarea::placeholder {
        font-size: 14px;
    }

    .order-page__textarea {
        height: 60px;
        padding: 22px 0 0 20px;
    }
}

@media (max-width:460px) {
    .order-page__section {
        background-position: -250px center;
    }

    .order-page__todo {
        padding-block: 66px 70px;
    }

    .order-page__todo-title {
        font-size: 25px;
    }

    .order-page__todo-item {
        padding: 43px 30px 38px;
        height: 300px;
    }

    .order-page__item-text {
        max-width: 275px;
        max-height: 115px;
    }

    .order-page__submit {
        width: 250px;
    }
}