@import "../../scss/variable";

.order-page {

    &__section {
        background-image: url("../../assets/images/order-bg.jpg");
        background-position: -113px center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 655px;
        display: flex;
        align-items: end;
        justify-content: start;
        padding-bottom: 223px;
        margin-bottom: 98px;

        .container {
            flex-basis: 100%
        }
    }

    &__title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 10px;
        max-width: 690px;
    }

    &__sub-title {
        @extend %osr;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 40px;
        max-width: 607px;
    }

    &__btn {
        color: var(--color-white);
        background-color: var(--color-accent);
        text-transform: uppercase;
        @extend %ossb;
        padding-block: 19px;
        width: 410px;
    }

    &__example {
        margin-bottom: 100px;
    }

    &__example-title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 50px;
        text-align: center;
    }

    .swiper-scrollbar {
        position: static;
        margin-top: 50px;
    }

    .swiper-scrollbar-drag {
        max-width: 443px;
        height: 3px;
        background-color: var(--color-accent);
        cursor: grab;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 198px;

        &::after {
            content: "";
            background-image: url("../../assets/images/slider-prev.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 13px;
            height: 25px;
        }
    }

    .swiper-button-prev {
        rotate: -180deg;
    }

    &__todo {
        background-color: var(--color-accent);
        padding: 100px 0 145px;
        margin-bottom: 100px;
    }

    &__todo-title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 50px;
        color: var(--color-white);
        text-align: center;
    }

    &__todo-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 45px;
    }

    &__todo-item {
        width: 639px;
        height: 385px;
        background-color: var(--color-white);
        padding: 44px 0 44px 60px;
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__todo-item:nth-child(1) {
        background-image: url(../../assets/images/order-todo-1.png);
    }

    &__todo-item:nth-child(2) {
        background-image: url(../../assets/images/order-todo-2.png);
    }

    &__todo-item:nth-child(3) {
        background-image: url(../../assets/images/order-todo-3.png);
    }

    &__todo-item:nth-child(4) {
        background-image: url(../../assets/images/order-todo-4.png);
    }

    &__item-stage {
        @extend %rr;
        font-size: 26px;
        letter-spacing: 2.25px;
        color: var(--color-gray);
        margin-bottom: 18px;
    }

    &__item-title {
        @extend %ossb;
        margin-bottom: 12px;
        font-size: 26px;
        color: var(--color-accent);
        text-transform: uppercase;
    }

    &__item-text,
    &__item-time {
        @extend %osr;
        font-size: 16px;
        line-height: 22px;
    }

    &__item-text {
        max-width: 473px;
        height: 175px;
    }

    &__item-time {
        color: var(--color-gray);
        margin-top: 15px;
    }

    &__form-section {
        margin-bottom: 200px;
    }

    &__form-wrapper {
        display: flex;
        gap: 0 168px;
    }

    &__form {
        max-width: 870px;
    }

    &__form-title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 2.25px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 160px;
        margin-bottom: 20px;
    }

    &__label {
        width: 459px;
    }

    &__span {
        @extend %osr;
        font-size: 12px;
        color: var(--color-blue);
        display: block;
        margin-bottom: 6px;
    }

    &__input {
        width: 100%;
        height: 60px;
        border: 1px solid var(--color-blue);
    }

    &__header-file {
        background-color: var(--color-blue);
        height: 60px;
        width: 251px;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 20px;
        margin-bottom: 20px;
    }

    &__block > &__label:nth-child(2) {
        flex-basis: 391px;
    }



    &__textarea {
        width: 870px;
        height: 200px;
        display: block;
        margin-bottom: 20px;
        resize: none;
    }

    &__submit {
        color: var(--color-white);
        background-color: var(--color-accent);
        padding-block: 19px;
        width: 100%;
    }

    &__sale {
        flex-basis: 1 0 294px;
        height: 595px;
    }
}