@import "../../scss/variable";




.contact-main {
    padding-top: 21px;
    margin-bottom: 187px;

    &__section {}

    &__title {
        @extend %rr;
        font-size: 45px;
        letter-spacing: 1px;
        color: var(--color-black);
        margin-bottom: 13px;
    }

    &__text {
        @extend %osr;
        font-size: 16px;
        line-height: 22px;
        max-width: 511px;
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .header__bg {
        width: 410px;
        background-color: #F8F9FD;
    }

    .header__bg>.container {
        padding: 0;
        margin: 0;
        max-width: initial;
        height: 100%;
    }

    .header__items {
        max-width: 410px;
        flex-direction: column;
        justify-content: start;
        padding: 90px 0 0 50px;
        align-items: start;
        height: inherit;
        gap: 20px 0;
    }

    .header__item {
        max-width: 273px;
    }

    .header__item.user-actions {
        flex-direction: row;
        margin-top: 6px;
    }

    .oclock,
    .phone {
        position: relative;
        margin-left: 32px;

        &::before {
            content: "";
            position: absolute;
            left: -33px;
            top: 10px;
            background-image: url(../../assets/images/clock.svg);
            background-repeat: no-repeat;
            width: 24px;
            height: 20px;
        }
    }

    .phone {
        &::before {
            content: "";
            background-image: url(../../assets/images/phone.svg);
        }
    }

    &__title-slider {
        @extend %rr;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .swiper-scrollbar {
        position: static;
        margin: 15px auto 0;
        max-width: 1330px;
    }

    .swiper-scrollbar-drag {
        background-color: var(--color-accent);
    }
}

@media (max-width: 1250px) {
    .contact-main .header__bg {
        display: none;
    }

    .header__item-link .item-link__map {
        display: block;
    }

    .contact-main__img {
        object-fit: cover;
        width: 100%;
    }

}

@media (max-width: 768px) {

    .contact-main__inner {
        margin-bottom: 80px;
    }

    .contact-main {
        margin-bottom: 100px;
    }
}