@import "../../scss/variable";

.basket {

    padding-bottom: 208px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        text-transform: uppercase;
        @extend %ossb;
        font-size: 26px;
        color: var(--color-black);
        margin-bottom: 40px;
    }

    &__btn {
        @extend %ossb;
        color: var(--color-accent);
        border: none;
        background-color: transparent;
        cursor: pointer;

    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__table {
        max-width: 690px;
        margin-bottom: 50px;
        border-collapse: collapse;
    }

    &__tr:first-child {
        border-bottom: 1px solid var(--color-blue);

        & td:first-child {
            color: transparent;
        }
    }

    &__td {
        width: 115px;
        @extend %osr;
        font-size: 14px;
    }

    &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        & p {
            padding: 11px 13px;
            border: 1px solid var(--color-accent);
            margin-inline: -1px;
            text-align: center;
            display: inline-block;
        }
    }

    &__counter-btn {
        width: 40px;
        height: 40px;
        display: flex;
        border: none;
        background-color: transparent;
        padding: 12px 14px;
        border: 1px solid var(--color-accent);
    }

    &__delete-btn {
        border: none;
        text-align: center;
        background: transparent;
        cursor: pointer;

        & img {
            stroke: #2F41AA;
        }
    }

    &__column-name {
        @extend %osl;
        font-size: 14px;
        line-height: 1.2;
        color: var(--color-gray);
    }


    &__price-box {
        padding: 68px 58px;
        background-color: #F8F9FD;
    }

    &__price {
        @extend %osr;
        font-size: 40px;

        & span {
            margin-left: 97px;
            @extend %ossb;
        }
    }

    &__submit {
        width: 410px;
        background-color: var(--color-accent);
        padding: 19px 130px;
        color: var(--color-white);
        margin-top: 40px;
        cursor: pointer;
    }
}