@import "../../scss/variable";


.favorite-cart  { width: calc(100% /4 - 15px); height: auto;}

.favorite-cart ._link_1vyh4_68 { height: auto;}

.favorite {
    &__section {}

    &__title {
        @extend %ossb;
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;

        gap: 0 156px;
        justify-content: space-between;
    }

    &__list {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    &__img-sale {
        width: 294px;
        height: 595px;
    }
}

@media (max-width: 1500px) {

    .favorite__inner {
        gap: 0;
    }

    .favorite__list {
        gap: 0;
    }

}

@media (max-width: 1100px) {
    .favorite__img-sale {
        display: none;
    }

    .favorite__title {
        text-align: center;
    }

    .favorite__list {
        justify-content: center;

        .new-items__slide {
            width: 300px;
            height: auto;
            padding: 25px;
        }

        .new-items__slide-item:first-child {
            grid-template-columns: 1fr auto;
        }

    }

    .favorite-cart { width: calc(100% /3 - 15px); height: auto;}
}

@media (max-width: 768px) {
   
    .favorite-cart { width: calc(100% /2 - 15px); height: auto;}
}


@media (max-width: 450px) {
   
    .favorite-cart { width: calc(100% ); height: auto;}
}