@import "../../scss/variable";

.how-choose {


    &__section {}

    &__title {
        @extend %rr;
        font-size: 26px;
        line-height: 56px;
        letter-spacing: 0.1px;
        color: var(--color-black);
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 0 136px;
        margin-bottom: 200px;
    }

    &__text-box {
        max-width: 868px;
    }

    &__text {
        @extend %osr;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01px;

        & span {
            color: var(--color-accent);
            @extend %ossb;

        }
    }

    &__text+&__text {
        margin-top: 10px;
    }

    &__img {
        flex-shrink: 0;
        flex-grow: 0;
        width: 326px;
        height: 433px;
    }
}

@media (max-width: 1200px) {
    .how-choose__inner {
        gap: 0 10px;
    }
}

@media (max-width: 1000px) {

    .how-choose__title {
        text-align: center;
    }

    .how-choose__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .how-choose__text-box {
        order: 2;
    }

    .how-choose__inner {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .how-choose__img {
        width: 280px;
        height: auto;
    }
}

@media (max-width: 375px) {
    .how-choose__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .how-choose__img {
        width: 200px;
        margin-bottom: 20px;
    }

    .how-choose__text {
        font-size: 14px;
    }

    .how-choose__inner {
        margin-bottom: 80px;
    }

}