@import "../../scss/variable";

.modal {
    --color-bg: #F8F9FD;

    .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
        background-color: var(--color-bg) !important;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    &__close {
        position: absolute;
        top: 60px;
        left: 0;
        border: none;
        background-color: var(--transparent);
        cursor: pointer;
    }

    &__nav {
        margin-top: 60px;
        margin-bottom: 120px;

        .header__nav-menu {
            flex-direction: column;
            gap: 37px 0;

        }

        .header__nav-item {}

        .header__nav-link {
            @extend %rr;
            font-size: 30px;
            color: var(--color-black);
            opacity: 0.7;
        }
    }

    &__footer {
        border-top: 1px solid var(--color-blue);
        padding-top: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .item-list__link {
            color: var(--color-black);
        }

        .header__nav-menu {
            flex-direction: column;
            gap: 3px 0;
            align-items: start;
            justify-content: start;
        }

        .header__nav-link {
            color: var(--color-black);
        }

        .footer__item-list {
            min-height: 125px;
            justify-content: start;
        }

    }


    &__actions {

        .header__item.user-actions {
            flex-direction: row;
        }
    }

}

.header__footer-list--mobile {

    .header__footer-item {
        font-size: 22px;
        @extend %rr;
        opacity: 0.7;
    }
}

.modal__contacts--mobile {
    margin-top: 20px;
    display: none;
}

.modal__contacts-inner {
    display: flex;
    justify-content: space-between;
}

.modal__contacts-link--map {
    width: 155px;
    margin-bottom: 10px;
}

.modal__contacts-title {
    @extend %osr;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}

.modal__contacts-link {
    @extend %osl;
    font-size: 12px;
    display: block;
    line-height: 14px;
}

.modal__contacts-link--email {
    margin-top: 23px;
}

.modal__contacts-link--phone {
    @extend %osr;
    font-size: 14px;
    line-height: 22px;
    width: 156px;
}


@media (max-width: 1450px) {}

@media (max-width: 1250px) {}

@media (max-width: 992px) {
    .modal__nav .header__nav-menu {
        display: none;
    }

    .header__footer-list--mobile.header__footer-list {
        display: flex;
    }

    .header__footer-list--mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px 0;
    }

    .header__footer-list--mobile .header__footer-item {
        margin: 0;
    }

    .modal__nav {
        margin-block: 22px 20px;
    }

    .modal__footer {
        padding: 0;
        border: none;
        flex-wrap: wrap;
    }

    .modal__actions {
        margin-top: 20px;
    }

}

@media (max-width: 768px) {
    .modal__contacts--mobile {
        display: block;
    }
}

@media (max-width: 576px) {}

@media (max-width: 375px) {}