@import "../../scss/variable";

.politics {
    margin: 50px 0 320px;

    &___title {
        @extend %rr;
        font-size: 26px;
        line-height: 56px;
        letter-spacing: 2.6px;
        margin-bottom: 30px;
    }

    &__text {
        @extend %osr;
        letter-spacing: -0.1px;
        max-width: 868px;
        line-height: 22px;
    }

    &__text+&__text {
        margin-top: 14.5px;
    }
}

@media (max-width: 1000px) {
    .politics___title {
        text-align: center;
    }

    .politics {
        margin-bottom: 120px;
    }
}

@media (max-width: 576px) {
    .politics___title {
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 1px;
    }

    .politics {
        margin-bottom: 80px;
    }
}