.raiting__svg {
    cursor: pointer;
    stroke: #9EAFC2;
}

.raiting__svg--passive {
    stroke: #9EAFC2;
}

.raiting__svg--active {
    fill: #9EAFC2;
}

.MuiRating-root {
    color: var(--color-blue) !important;
}