@import "./variable";

:root {
    --color-blue: #9EAFC2;
    --color-black: black;
    --color-gray: #808080;
    --color-accent: #020F59;
    --color-white: #fff;
    --color-hover-accent: #2F41AA;
    --color-error-red: #ff0000;
    --bg-footer: #F8F9FD;
    --color-gray-2: #eceff3;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: none;
}

textarea {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    margin: 0;
}

input {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--color-transparent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    @extend %osr
}

.container {
    max-width: calc(1920px - 295px - 295px + 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.title {}