@import "./normalize";
@import "./global";

.header {

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 140px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 2px 0;
        font-size: 14px;
        line-height: 1.2;
        @extend %osl;
    }

    &__item-link {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }
}